# Exercise: Fixing Data in Pandas DataFrame

In this exercise, you're given a small DataFrame of data that looks like it should be numeric. But when it's imported into Pandas, and you look at the `info()` for that DF, you notice it's actually been imported as a string! Oh no, with your data as strings, you can't do any data analysis. You'll practice how to fix that data to make it numeric and save the day.

In [1]:
import pandas as pd

In [2]:
data = {
    'Price': ['USD 10', 'USD 20', 'USD 30'],
    'Revenue': ['+100', '-10', '+500'],
    'Quantity': ['2', '4', '6']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     3 non-null      object
 1   Revenue   3 non-null      object
 2   Quantity  3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [5]:
df

    Price Revenue Quantity
0  USD 10    +100        2
1  USD 20     -10        4
2  USD 30    +500        6

In [9]:
# your task: Fix the above DataFrame so that each column has numeric data (when you look at .info(), all columns should be a numeric type)

df['Price'] = df['Price'].replace({'USD ': ''}, regex=True).astype(float)
df['Revenue'] = df['Revenue'].replace({r'\+': ''}, regex=True).astype(float)
df['Quantity'] = df['Quantity'].astype(float)

In [10]:
df

   Price  Revenue  Quantity
0   10.0    100.0       2.0
1   20.0    -10.0       4.0
2   30.0    500.0       6.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     3 non-null      float64
 1   Revenue   3 non-null      float64
 2   Quantity  3 non-null      float64
dtypes: float64(3)
memory usage: 204.0 bytes