# Exercise: Pull Data From YahooFinance API

You can't build trading models without financial data! A common source for data are APIs, which are a programmatic way to pull a lot of data from data brokers and vendors that make it available online. 

While many APIs will require an API key or token to identify you, you can use the [YahooFinance API](https://pypi.org/project/yfinance/) without a key for pulling simple and small amounts of historical data. 

Your task here is to: 
* If necessary, download the YahooFinance API Python wrapper package (called `yfinance`)
* Use the `yfinance` package to download historical data for the last 3 years for at least 2 different stock tickers
* Choose your favorite stocks to explore!

In [ ]:
# ! pip install yfinance #uncomment this line and run it only once to download the library

In [1]:
import pandas as pd
import yfinance as yf # you may need to install the package first before doing the import

In [2]:
# Define some variables you'll use for pulling in data

stock_ticker_1 = 'AAPL'
stock_ticker_2 = 'MSFT'

start_date = '2020-01-01' # use format YYYY-MM-DD
end_date = '2024-01-02'

To use the YahooFinance API, you may find it useful to look at the documentation. Below, we've started the code for you using the method called download(). 

To figure out what to pass in to that method, take a look at [this page of the YF API documentation](https://github.com/ranaroussi/yfinance?tab=readme-ov-file#multiple-tickers).

In [5]:
data_stock_1 = yf.download( stock_ticker_1, start= start_date, end = end_date ) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

In [6]:
data_stock_2 = yf.download( stock_ticker_2, start= start_date, end = end_date ) # replace ... inside this function with the correct parameters in order to get your data

[*********************100%***********************]  1 of 1 completed

In [7]:
data_stock_1.head() # check if your download worked

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  72.876114  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.167610  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.742638  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.400551  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.565208  132079200

In [8]:
data_stock_2.head() # check if your download worked

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,158.779999,160.729996,158.330002,160.619995,153.938217,22622100
2020-01-03,158.320007,159.949997,158.059998,158.619995,152.021378,21116200
2020-01-06,157.080002,159.100006,156.509995,159.029999,152.414352,20813700
2020-01-07,159.320007,159.669998,157.320007,157.580002,151.024643,21634100
2020-01-08,158.929993,160.800003,157.949997,160.089996,153.430283,27746500